/* Variables */

:root {
  --white: #FFFFFF;
  --dark: #666666;
  --middle-dark: #333333;
  --black: #000000;

  --lightest-gray: #F2F2F2;
  --light-gray: #EEEEEE;
  --middle-gray: #CACACA;
  --dark-gray: #A9A9A9;
  --hotels-border-gray: #E5E5E5;
  --input-background-gray: #EBEBEB;

  --light-blue: #81B3D2;
  --blue: #669EC0;
  --dark-blue: #5496BD;
  --google-focus-blue: #065ea1;

  --light-brown: #766357;
  --brown: #604E43;
  --dark-brown: #503E33;
}

/* Global */

.page-body {
  min-width: 1240px;
  margin: 0;
  font-family: 'PT Sans', sans-serif, 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--middle-dark);
  text-transform: uppercase;
  background-color: var(--lightest-gray);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrap {
  background: var(--white);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


/* Main navigation */

.site-navigation {
  list-style: none;
  margin: 0;
  font-weight: bold;
  line-height: 26px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 15px 72px;
}

li.align-left {
  text-align: left;
}

li.align-right {
  text-align: right;
}

.site-navigation a {
  color: var(--black);
}

.site-navigation a:not(.current):hover,
.site-navigation a:not(.current):focus {
  color: var(--light-blue);
}

.site-navigation a:not(.current):active {
  color: var(--black);
  opacity: 0.3;
}

a.current {
  color: var(--light-brown);
  cursor: auto;
}

.page-header {
  position: relative;
}

.logo {
  display: inline-flex;
  position: absolute;
  top: 0;
  left: 531px;
  z-index: 1;
}

/*Promo*/

.promo-images {
  position: relative;
}

.promo-images img {
  display: block;
}

.promo-images::before {
  content: "";
  width: 458px;
  height: 352px;
  background-image: url("../img/intro-welcome.svg");
  position: absolute;
  top: 77px;
  left: 371px;
}

.promo-images::after {
  content: "";
  width: 1200px;
  height: 57px;
  background-image: url("../img/intro-mask.svg");
  position: absolute;
  bottom: -1px;
  left: 0;
}

.promo-content {
  padding: 42px 340px 52px;
  text-align: center;
}

.promo p {
  margin: 0;
  line-height: 26px;
}

p.promo-text:first-child {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 43px;
}

/*Reasons*/

.image-wrap img {
  display: block;
  width: 800px;
}

.reasons-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.main-reason {
  display: flex;
  flex-wrap: wrap;
  background: var(--light-blue);
  color: var(--white);
}

.reason-info {
  box-sizing: border-box;
  width: 400px;
  text-align: center;
  padding-top: 49px;
  padding-left: 45px;
  padding-right: 45px;
}

.reasons-item-title {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

p.reasons-text-content {
  padding: 0;
  margin: 0;
}

.reason-number {
  margin-top: 25px;
  margin-bottom: 23px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  background: var(--white);
  color: var(--middle-dark);
}

.advantages-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0 0 25px;
}

.advantages-text {
  margin: 0;
}

.advantages-item {
  box-sizing: border-box;
  width: 400px;
  text-align: center;
  padding: 160px 50px 82px;
  position: relative;
}

.advantages-icon::before {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.accommodation::before {
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
}

.meals::before {
  width: 75px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
}

.souvenirs::before {
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
}

.reverse {
  flex-direction: row-reverse;
}

.background-gray {
  width: 400px;
  background: var(--light-gray);
  color: var(--black);
  padding-left: 69px;
  padding-right: 69px;
  padding-bottom: 54px;
}

/*Hotels search*/

.hotels-search-section {
  padding-top: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.hotels-search button {
  cursor: pointer;
  font-family: inherit;
}

.hotels-search-text {
  padding-top: 30px;
  padding-bottom: 45px;
  margin: 0;
  line-height: 24px;
}

.hotels-search-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  margin: 0;
}

button.hotels-search {
  width: 568px;
  height: 86px;
  background: var(--light-brown);
  color: var(--white);
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  font-family: inherit;
}

button.hotels-search:hover {
  background: var(--brown);
}

button.hotels-search:focus {
  background: var(--dark-brown);
  mix-blend-mode: normal;
  color: rgba(255, 255, 255, 0.3);
}

button.search {
  width: 100%;
  height: 58px;
  background: var(--light-blue);
  color: var(--white);
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 54px;
  border: none;
}

button.search:hover {
  background: var(--blue);
}

button.search:focus {
  background: var(--dark-blue);
  mix-blend-mode: normal;
  color: rgba(255, 255, 255, 0.3);
}

.hotels-search-form {
  box-sizing: border-box;
  width: 568px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  padding: 55px;
  background: var(--white);
  position: absolute;
  top: 291px;
}

.hotels-search-form label {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.hotels-search-form input {
  box-sizing: border-box;
  height: 38px;
  font-family: inherit;
  background: var(--lightest-gray);
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--black);
  border: none;
  padding: 6px 13px;
}

.dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px;
  position: relative;
}

.date-input {
  width: 346px;
  text-transform: uppercase;
}

.date-input:hover {
  background: var(--input-background-gray);
}

.date-input:focus {
  background: var(--white);
}

.calendar {
  width: 25px;
  height: 25px;
  border: none;
  background: transparent no-repeat;
  position: absolute;
  top: 7px;
  right: 8px;
  padding: 0;
}

button .calendar:last-child {
  top: 20px;
}

.calendar:hover > svg,
.calendar:focus > svg {
  fill: var(--black);
}

.calendar:active > svg {
  fill: var(--light-blue)
}

.visitors-counter {
  display: flex;
  justify-content: space-between;
}

.visitors {
  margin: 0;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
}

.visitors label {
  margin-right: auto;
}

.children {
  margin-left: 53px;
}

.visitors-input {
  width: 38px;
  text-align: center;
}

.visitors input {
  padding-left: 0;
  padding-right: 0;
}

.operator {
  width: 38px;
  height: 38px;
  background: var(--lightest-gray);
  margin: 0;
  padding: 0;
}

.minus {
  border: none;
  padding: 0;
}

.minus::after {
  content: "";
  display: block;
  width: 12px;
  height: 3px;
  background: var(--dark-gray);
  margin: auto;
}

.plus {
  border: none;
  padding: 0;
  top: 0;
  right: 0;
}

.plus::before {
  content: "";
  display: block;
  background: var(--dark-gray);
  width: 12px;
  height: 3px;
  margin: auto;
}

.plus::after {
  content: "";
  display: block;
  width: 12px;
  height: 3px;
  transform: translateY(-85%) rotate(90deg);
  background: var(--dark-gray);
  margin: auto;
}

.minus:hover::after,
.plus:hover::before,
.plus:hover::after {
  background: var(--black);
}

.minus:focus:after,
.plus:focus:before,
.plus:focus::after,
.minus:active:after,
.plus:active:before,
.plus:active::after {
  background: var(--light-blue);
}

.map {
  border: none;
  display: block;
  margin-bottom: -127px;
}

/*Footer*/

.page-footer {
  background: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  height: 120px;
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
}

.contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;

}

.contacts a {
  color: var(--black);
}

.contacts a:hover {
  color: var(--light-blue);
}

.contacts a:focus {
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.contacts p {
  margin: 0 0 9px 0;
}

.socials-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.socials-item a{
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-blue);
}

.socials-item:not(:last-child) {
  margin-right: 6px;
}

.twitter::before {
  content: "";
  width: 17px;
  height: 17px;
  background-image: url("../img/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.facebook::before {
  content: "";
  width: 12px;
  height: 22px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.youtube::before {
  content: "";
  width: 20px;
  height: 16px;
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.socials-item a:hover {
  background: var(--blue);
}

.socials-item a:focus,
.socials-item a:active {
  background: var(--dark-blue);
}

.socials-item a:active::before {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.copyright {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright a {
  width: 115px;
  height: 41px;
  margin-left: 8px;
}

.html-logo:hover path,
.html-logo:focus path {
  fill: var(--light-blue);
}


.html-logo:active path {
  fill: var(--dark);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*Hotels page*/
/*Hotels filter*/

.filer {
  background-image: url("../img/background-blur.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  color: var(--white);
  padding: 26px 73px 32px 73px;
}

.left-col-filters fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.left-col-filters fieldset:nth-child(1) {
  margin-right: 119px;
}


.left-col-filters legend {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.filers-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filer-option {
  margin-top: 25px;
}

.filer-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 39px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:focus + label::after,
.filter-input-checkbox:focus + label::before {
  box-shadow: 0 0 1px 3px var(--google-focus-blue);
}

/*.hotels-filter-form input[type=checkbox]:disabled + label:before{*/
/*  opacity: 0.3;*/
/*  cursor: auto;*/
/*}*/
.filter-input-checkbox:disabled + label::after,
.filter-input-checkbox:disabled + label::before {
  opacity: 0.3;
  cursor: auto;
}

.filter-input-checkbox:disabled + label {
  cursor: auto;
}

.hotels-filter-form {
  display: flex;
  justify-content: space-between;
}

.left-col-filters {
  display: flex;
}

.right-col-filters p {
  margin: 0;
  text-align: center;
}

button.show {
  width: 137px;
  height: 36px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background: transparent;
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 34px;
  font-family: inherit;
}

button.show:hover,
button.show:focus {
  background: var(--white);
  color: var(--black);
}

.right-col-filters fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.right-col-filters legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
}

.price-controls {
  width: 317px;
  height: 36px;
  box-sizing: border-box;
  border: 2px solid var(--white);
  padding-top: 6.5px;
  padding-bottom: 8.5px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 65px;
  padding-right: 20px;
  align-items: center;
}

.max-price:before {
  content: "";
  width: 2px;
  height: 22px;
  background: var(--white);
  position: absolute;
  right: 156px;
}

.price-controls label {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  border: none;
  color: var(--white);
  width: 60px;
}

.range-filter {
  width: 317px;
}

.range-controls {
  margin-top: 20px;
  position: relative;
}

.range-controls .scale {
  height: 2px;
  width: 316px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 248px;
  height: 2px;
  background: var(--white);
}

.range-controls .toggle {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 7.64px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  position: absolute;
  top: -9px;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 248px;
}

/*Sort hotels*/

.sorting-form {
  display: flex;
}

.sort-hotels {
  border-bottom: 1px solid var(--hotels-border-gray);
  padding: 29px 70px 30px 73px;
  display: flex;
}

.found-hotels {
  display: flex;
  justify-content: space-between;
}

.found-title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.param-sorting-title {
  margin: 0 40px 0 46px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.param-sorting-list, .ranking-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.sorting-form {
  margin-right: auto;
}

button.param {
  border: none;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: inherit;
  background: transparent;
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.3;
  padding: 0;
  border-bottom: 1px dashed var(--light-blue);
  cursor: pointer;
}

.param-sorting-list li:not(:last-child) {
  margin-right: 32px;
}

button.param:hover {
  opacity: 1;
  color: var(--light-blue);
}

button.param:focus {
  color: var(--black);
  border-bottom: 1px dashed transparent;
}

.param.active {
  opacity: 1;
  color: var(--light-blue);
  border-bottom: 1px dashed transparent;
  cursor: auto;
}


.ranking {
  border: none;
  width: 20px;
  height: 20px;
  fill: var(--middle-gray);
  padding: 0;
  cursor: pointer;
  background: transparent;
}

.ranking-list li:first-child {
  margin-right: 0;
}

.ranking-list {
  padding-top: 5px;
}

.ranking:hover > svg,
.ranking:focus > svg{
  fill: var(--black);
}

.ranking:active > svg {
  fill: var(--light-blue);
}

.ranking.active > svg {
  fill: var(--light-blue);
  cursor: auto;
}

.param.active {

}

/*Hotels search results*/

.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels-item {
  list-style: none;
  display: flex;
  border-bottom: 1px solid var(--hotels-border-gray);
  padding: 24px 73px;
  align-items: flex-end;
  justify-content: flex-start;
}

.hotels-item img {
  display: block;
}

.hotel-info {
  margin-left: 30px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.hotel-info-columns {
  display: flex;
}

.hotel-info h3 {
  margin: 0 0 7px 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.hotel-name {
  color: var(--black);
}

.hotel-name:hover,
.hotel-name:focus {
  color: var(--light-blue);
}

.hotel-name:active {
  color: var(--black);
  opacity: 0.3;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
}

.more-info {
  width: 110px;
  height: 27px;
  background: var(--light-blue);
  color: var(--white);
  text-align: center;
  font-weight: bold;
  line-height: 27px;
  margin-right: 6px;
  margin-top: 15.5px;
}

.more-info:hover {
  background: var(--blue);
}

.more-info:active {
  background: var(--dark-blue);
  mix-blend-mode: normal;
  color: rgba(255, 255, 255, 0.3);
}

.book {
  height: 27px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background: var(--light-brown);
  color: var(--white);
  text-transform: uppercase;
  margin-top: 15.5px;
  cursor: pointer;
  font-family: inherit;
  padding: 3px 17px;
}

.book:hover {
  background: var(--brown);
}

.book:active {
  background: var(--dark-brown);
  mix-blend-mode: normal;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  width: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.star-rating {
  height: 17px;
  width: 19px;
  background-image: url("../img/star.svg");
  background-position: center center;
  background-repeat: space repeat;
  margin-bottom: 50px;
}

.four-stars {
  width: 76px
}

.three-stars {
  width: 57px;
}

.two-stars {
  width: 38px;
}

.numeric-rating {
  background: var(--lightest-gray);
  color: var(--dark);
  text-align: center;
  padding: 3px 12px 3px 15px;
}
